* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff7ed;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-size: 18px;
  color: #4d4d4d;
  text-decoration: none;
}

.link-button {
  padding: 12px 25px;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.link-button:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.loader,
.error {
  margin-left: 50px;
  margin-top: 15px;
}

.message {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 28px;
}

.active {
  color: #000;
  text-decoration: underline;
}

header {
  height: 90px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  font-size: 28px;
  font-weight: 800;
  color: #161616;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links a {
  font-weight: 600;
}

.nav-links a:hover {
  color: #000;
  text-decoration: underline;
}

.login-icon {
  width: 25px;
  position: relative;
  top: 2px;
}

.logout-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
}

.logout-btn:hover {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

/* Home page */
.home-page-container {
  height: calc(100vh - 90px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./assets/images/home-hero.png') no-repeat center;
  background-size: cover;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fff;
}

.home-page-container > h1 {
  font-size: 45px;
}

.home-page-container > p {
  font-size: 20px;
}

.home-page-container > a {
  margin-top: 15px;
  background-color: #ff8c38;
}

/* About page */
.about-page-container img {
  width: 100%;
}

.about-page-description {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: #161616;
}

.about-page-description > h1 {
  font-size: 35px;
}

.about-page-description > p {
  font-size: 19px;
  line-height: 1.4;
}

.about-page-cta {
  background-color: #ffcc8d;
  padding: 50px;
}

.about-page-cta > h2 {
  font-size: 30px;
  color: #161616;
}

.about-page-cta > a {
  margin-top: 25px;
  display: inline-block;
  background-color: #161616;
}

/* Vans page */
.vans-page-container {
  margin: 15px 50px 60px 50px;
}

.vans-page-container h1 {
  font-size: 35px;
}

.vans-filter {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.filter {
  font-size: 17px;
  padding: 9px 20px;
  background-color: #ffead0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.simple,
.simple-type:hover {
  background-color: #e17654;
  color: #fff;
}

.rugged,
.rugged-type:hover {
  background-color: #115e59;
  color: #fff;
}

.luxury,
.luxury-type:hover {
  background-color: #161616;
  color: #fff;
}

.vans-filter span {
  font-size: 17px;
  cursor: pointer;
}

.vans-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 30px;
}

.van-container {
  width: 320px;
}

.van-container img {
  width: 100%;
  border-radius: 8px;
}

.van-info {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #161616;
}

.van-info > h2 {
  font-size: 22px;
  font-weight: 400;
}

.van-info > h3 {
  font-size: 19px;
  font-weight: 500;
}

.van-container span {
  margin-top: 20px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  padding: 9px 20px;
  border-radius: 4px;
}

/* Van Details page */
.van-details-container {
  margin: 15px 50px 60px 50px;
}

.van {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.van img {
  width: 500px;
  border-radius: 10px;
}

.van-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.van-details > span {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  padding: 9px 20px;
  border-radius: 4px;
}

.van-details h1 {
  font-size: 35px;
}

.van-details h2 {
  font-size: 30px;
}

.van-details h2 span {
  font-weight: 400;
}

.van-details p {
  font-size: 18px;
  line-height: 1.5;
}

.rent-van-btn {
  background-color: #ff8c38;
  width: 140px;
  text-align: center;
}

/* Host Layout page */
.host-nav-links {
  margin: 10px 0px 30px 50px;
}

.host-nav-links a {
  font-size: 19px;
  margin-right: 30px;
}

.host-nav-links a:hover {
  color: #000;
  text-decoration: underline;
}

/* Dashboard page */
.income-section {
  background-color: #ffead0;
  padding: 35px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.income-info > h1 {
  font-size: 40px;
}

.income-info > p {
  margin-top: 25px;
  font-size: 19px;
  color: #4d4d4d;
}

.income-info > p > span {
  font-weight: 600;
  text-decoration: underline;
}

.income-info > h2 {
  margin-top: 25px;
  font-size: 45px;
}

.reviews-section {
  background-color: #ffddb2;
  padding: 35px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-info > h2 {
  font-size: 30px;
}

.rating {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.review-star {
  font-size: 30px;
  color: #ff8c38;
}

.rating > h3 {
  font-size: 25px;
}

.rating > h3 > span {
  color: #4d4d4d;
  font-weight: 400;
}

.listed-vans-section {
  margin: 50px;
}

.listed-vans-section > p {
  margin-top: 25px;
  font-size: 21px;
}

.listed-vans-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listed-vans-top > h2 {
  font-size: 30px;
}

.listed-vans {
  margin-top: 40px;
}

.listed-van-card {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listed-van {
  display: flex;
  align-items: center;
  gap: 25px;
}

.listed-van-info > h3 {
  font-size: 21px;
  font-weight: 400;
}

.listed-van-info > h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.listed-van > img {
  width: 100px;
  border-radius: 8px;
}

/* Income page */
.income-page {
  margin: 30px 50px 50px 50px;
}

.income-details > h1 {
  font-size: 35px;
}

.income-details > p {
  margin-top: 25px;
  font-size: 19px;
  color: #4d4d4d;
}

.income-details > p > span {
  font-weight: 600;
  text-decoration: underline;
}

.income-details > h2 {
  margin-top: 25px;
  font-size: 45px;
}

.income-graph {
  margin-top: 30px;
  width: 500px;
}

.transaction-details {
  margin-top: 45px;
}

.transaction-details > h2 {
  font-size: 30px;
}

.transaction-details > p {
  margin-top: 25px;
  font-size: 19px;
  color: #4d4d4d;
}

.transaction-details > p > span {
  font-weight: 600;
  text-decoration: underline;
}

.transactions {
  margin-top: 35px;
}

.transaction-card {
  background-color: #fff;
  height: 120px;
  padding: 0px 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-card > h3 {
  font-size: 45px;
}

.transaction-card > span {
  font-size: 20px;
  color: #4d4d4d;
}

/* Reviews page */
.reviews-page {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

.reviews-page > h1 {
  font-size: 35px;
}

.reviews-page > p {
  font-size: 19px;
  color: #4d4d4d;
}

.reviews-page > p > span {
  font-weight: 600;
  text-decoration: underline;
}

.reviews-graph {
  width: 500px;
}

.reviews-container > h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.ratings {
  display: flex;
  gap: 5px;
}

.rating-star {
  font-size: 18px;
  color: #ff8c38;
}

.review-details {
  display: flex;
  align-items: baseline;
  gap: 25px;
}

.review-details > h3 {
  font-size: 22px;
}

.review-details > h4 {
  font-size: 18px;
  font-weight: 400;
  color: #4d4d4d;
}

.review-text {
  font-size: 18px;
  line-height: 1.5;
}

/* Host Vans page */
.host-vans-container {
  margin: 40px 50px 50px 50px;
}

.host-vans-container > h1 {
  font-size: 32px;
}

.host-vans-container > p {
  margin-top: 20px;
  font-size: 20px;
}

.host-vans {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.host-van-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.host-van-card > img {
  width: 120px;
  border-radius: 8px;
}

.host-van-info > h3 {
  font-weight: 400;
  font-size: 22px;
}

.host-van-info > h4 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 19px;
}

/* Host Van Layout page */
.host-van-page {
  margin: 40px 50px 50px 50px;
}

.host-van-container {
  margin-top: 30px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}

.host-van {
  display: flex;
  align-items: center;
  gap: 30px;
}

.host-van > img {
  width: 200px;
  border-radius: 8px;
}

.host-van-details > span {
  padding: 9px 20px;
  border-radius: 4px;
  font-size: 18px;
  text-transform: capitalize;
}

.host-van-details > h1 {
  margin-top: 30px;
  font-size: 30px;
}

.host-van-details > h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.host-van-nav-links {
  margin: 30px 0px;
  display: flex;
  gap: 30px;
}

.host-van-nav-links > a:hover {
  color: #000;
  text-decoration: underline;
}

/* Host Van Details page */
.host-van-details > p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #161616;
  line-height: 1.5;
}

.host-van-details > p > span {
  color: #4d4d4d;
  font-weight: 600;
}

.host-van-details > p > b {
  font-weight: 400;
  text-transform: capitalize;
}

/* Host Van Pricing page */
.host-van-pricing {
  font-size: 30px;
  font-weight: 400;
}

.host-van-pricing > span {
  font-size: 24px;
  color: #4d4d4d;
}

/* Host Van Photos page */
.host-van-photo {
  width: 150px;
  border-radius: 8px;
}

/* Login and Signup page */
.login-page,
.signup-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.login-page > h1,
.signup-page > h1 {
  font-size: 35px;
  font-weight: 400;
}

.input-form {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.input-form > input {
  font-size: 17px;
  padding: 12px 10px;
  border: 1px solid #d1d5db;
  border-bottom: none;
}

.input-form > input:first-of-type {
  border-radius: 4px 4px 0px 0px;
}

.input-form > input:last-of-type {
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid #d1d5db;
}

.form-btn {
  margin-top: 20px;
  padding: 14px;
  background-color: #ff8c38;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-error {
  font-size: 20px;
  color: #cc0000;
}

.signup {
  font-size: 18px;
}

.signup > a:hover {
  text-decoration: underline;
}

/* Not Found page */
.not-found-page {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.not-found-page > h1 {
  font-size: 38px;
  color: #161616;
}

.not-found-page > a {
  background-color: #161616;
}
