* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fff7ed;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  font-size: 18px;
  color: #4d4d4d;
  text-decoration: none;
}

a.active-link {
  color: #000;
  text-decoration: underline;
}

header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

header .site-logo {
  color: #000;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

header nav {
  display: flex;
  gap: 25px;
}

header nav > a {
  font-weight: 600;
}

header nav > a:hover {
  color: #000;
  text-decoration: underline;
}

footer {
  height: 50px;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 15px;
  color: #aaa;
}

/* Home page */
.home-page-container {
  padding: 0px 100px;
  height: calc(100vh - 90px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url('./assets/home-hero.png') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.home-page-container h1 {
  font-size: 45px;
  font-weight: 700;
}

.home-page-container p {
  font-size: 20px;
}

.home-page-container a {
  background-color: #ff8c38;
  font-size: 18px;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.home-page-container a:hover {
  transform: translateY(-3px);
}

/* About page */
.about-hero-image {
  width: 100%;
}

.about-page-content {
  padding: 50px 60px;
  color: #161616;
}

.about-page-content h1 {
  font-size: 35px;
}

.about-page-content p {
  margin-top: 30px;
  font-size: 18px;
}

.about-page-cta {
  background-color: #ffcc8d;
  padding: 50px;
}

.about-page-cta h1 {
  font-size: 30px;
  color: #161616;
}

.about-page-cta a {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  background-color: #161616;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.about-page-cta a:hover {
  transform: translateY(-3px);
}

/* Vans page */
.vans-list-container {
  padding: 20px 50px 50px 50px;
}

.vans-list-container h1 {
  font-size: 35px;
}

.vans-list-container h2 {
  margin-top: 25px;
  font-size: 25px;
}

.vans-filter {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.filter {
  background-color: #ffead0;
  color: #161616;
  padding: 9px 20px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-filter {
  cursor: pointer;
}

.simple-type:hover {
  background-color: #e17654;
  color: #fff;
}

.rugged-type:hover {
  background-color: #115e59;
  color: #fff;
}

.luxury-type:hover {
  background-color: #161616;
  color: #fff;
}

.vans-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.van-tile {
  margin-top: 50px;
  width: 300px;
}

.van-tile a img {
  width: 100%;
  border-radius: 8px;
}

.van-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #161616;
}

.van-info h3 {
  font-size: 22px;
  font-weight: normal;
}

.van-info span {
  font-size: 18px;
}

.van-type {
  display: inline-block;
  margin-top: 20px;
  padding: 9px 20px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 5px;
}

.simple {
  background-color: #e17654;
  color: #fff;
}

.rugged {
  background-color: #115e59;
  color: #fff;
}

.luxury {
  background-color: #161616;
  color: #fff;
}

/* Van Details page */
.van-container {
  margin: 20px 50px 50px 50px;
}

.van-container > h2 {
  margin-top: 25px;
  font-size: 30px;
}

.van-container a {
  color: #161616;
}

.van-card {
  margin-top: 30px;
  display: flex;
  gap: 50px;
}

.van-image img {
  width: 500px;
  border-radius: 8px;
}

.van-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  color: #161616;
}

.van-details h1 {
  font-size: 35px;
}

.van-details h2 {
  font-size: 28px;
  font-weight: 400;
}

.van-price {
  font-weight: 600;
}

.van-details p {
  font-size: 18px;
  line-height: 1.5;
}

.rent-van-btn {
  background-color: #ff8c38;
  color: #fff;
  width: 200px;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in;
}

.rent-van-btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

/* Host Layout page */
.host-nav-links {
  margin: 15px 50px;
  display: flex;
  gap: 30px;
}

.host-nav-links a:hover {
  color: #000;
  text-decoration: underline;
}

/* Dashboard page */
.dashboard-page {
  margin-top: 40px;
}

.income {
  background-color: #ffead0;
  padding: 35px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.income > div > h1 {
  font-size: 40px;
}

.income > div > p {
  margin-top: 20px;
  font-size: 18px;
  color: #4d4d4d;
}

.income > div > p > span {
  font-weight: 600;
  text-decoration: underline;
}

.income > div > h2 {
  margin-top: 20px;
  font-size: 42px;
  font-weight: 900;
}

.review-score {
  padding: 35px 50px;
  background-color: #ffddb2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-score > div > h2 {
  font-size: 28px;
}

.review-score > div > h3 {
  margin-top: 15px;
  font-size: 25px;
}

.review-score > div > h3 > span {
  color: #4d4d4d;
  font-weight: 400;
}

.listed-vans-container {
  padding: 60px 50px;
}

.listed-vans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listed-vans-header h3 {
  font-size: 28px;
}

.listed-vans {
  margin-top: 40px;
}

.listed-van-card {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listed-van {
  display: flex;
  align-items: center;
  gap: 25px;
}

.listed-van img {
  width: 100px;
  border-radius: 5px;
}

.listed-van > div > h4 {
  font-size: 20px;
  font-weight: 400;
}

.listed-van > div > p {
  margin-top: 10px;
  font-size: 17px;
}

.listed-vans-container h2 {
  margin-top: 20px;
  font-size: 22px;
}

/* Host Vans page */
.host-vans-page {
  padding: 30px 50px;
}

.host-vans-page h2 {
  margin-top: 30px;
  font-size: 25px;
}

.host-vans {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.host-van-card {
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.host-van-card img {
  width: 120px;
  border-radius: 8px;
}

.host-van-card > div > h3 {
  font-size: 22px;
  font-weight: 400;
}

.host-van-card > div > p {
  margin-top: 12px;
  font-size: 18px;
}

/* Host Van Layout page */
.host-van-page {
  padding: 30px 50px;
}

.host-van-page h2 {
  font-size: 30px;
}

.host-van-container {
  margin-top: 40px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}

.host-van-details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.host-van-details img {
  width: 200px;
  border-radius: 8px;
}

.host-van-details > div > span {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  padding: 8px 20px;
  border-radius: 5px;
}

.host-van-details > div > h2 {
  margin-top: 30px;
  font-size: 30px;
}

.host-van-details > div > h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 400;
}

.host-van-nav-links {
  margin: 35px 0px;
  display: flex;
  gap: 35px;
}

.host-van-nav-links a:hover {
  color: #000;
  text-decoration: underline;
}

/* Host Van Details page */
.host-van-details-page > p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.host-van-details-page > p > span {
  font-weight: 600;
  color: #4d4d4d;
}

/* Host Van Pricing page */
.host-van-pricing {
  font-size: 28px;
}

.host-van-pricing span {
  font-size: 20px;
  color: #4d4d4d;
}

/* Host Van Photos page */
.host-van-photo {
  width: 150px;
  border-radius: 10px;
}

/* Not Found page */
.not-found-page {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.not-found-page h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

.not-found-page a {
  display: inline-block;
  margin-top: 40px;
  background-color: #161616;
  color: #fff;
  font-size: 19px;
  padding: 15px 30px;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
}

.not-found-page a:hover {
  cursor: pointer;
  opacity: 0.85;
}
